body {
	margin: 5% 20%;
	text-align: justify;
	position: relative;
	background-color: #282c34;
}

h1 {
	text-align: center;
	color: gray;
	font-size: 3.5em;
	font-family: 'Exo 2', sans-serif;
}

h2 {
	text-align: center;
	color: gray;
	font-size: 2.5em;
	font-family: 'Exo 2', sans-serif;
}

p {
	color: black;
	font-size: 1.3em;
	line-height: 1.7em;
	font-family: 'Exo 2', sans-serif;
}

pre {
	font-family: 'Hack', monospace;
	background-color: #282c34;
	padding: 1em;
}

.navbar {
	background-color: black;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	text-align: center;
	z-index: 300;
	box-shadow: 0 1px 5px 0 black;
}

.navbar a {
	float: left;
	color: darkgray;
	padding: 10px 0px;
	font-size: 1.3em;
	font-family: 'Exo 2', sans-serif;
	width: 20%;
	text-decoration: none;
	transition: .3s ease;
}

.navbar a:hover {
	background-color: gray;
	color: white;
}

.navbar-button {
	display: none;
}

.navbar-text {
	display: none;
}

.footer {
	background-color: black;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	text-align: center;
	z-index: 300;
	box-shadow: 0 -1px 5px 0 black;
}

.footer a {
	float: left;
	color: gray;
	padding: 10px 0px;
	font-size: 1.3em;
	font-family: 'Exo 2', sans-serif;
	width: calc(100%/3);
	text-decoration: none;
	transition: .3s ease;
}

.footer a:hover {
	background: gray;
	color: white;
}

.container a {
	position: relative;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1% auto;
}

table .container a {
	width: 98% !important;
}

img {
	opacity: 1;
	display: block;
	width: 100%;
	transition: .5s ease;
	display: block;
	border: 3px solid black;
}

.container p {
	margin-top: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	transition: .5s ease;
}

.container:hover img {
	opacity: 0.3;
}

.container:hover p {
	color: #444444;
	opacity: 1;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	height: 0;
}

.video iframe {
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a {
	color: black;
	line-height: 1.7em;
	font-size: 1.3em;
	font-family: 'Exo 2', sans-serif;
	transition: .3s ease;
}

body p a {
	color: black;
	line-height: 1.7em;
	font-size: 1em !important;
	font-family: 'Exo 2', sans-serif;
}

body a:link {
	text-decoration: none;
	color: gray;
}

body a:visited {
	text-decoration: none;
	color: gray;
}

body a:hover {
	text-decoration: none;
	color: darkgray;
	text-align: center;
}

body a a1 {
	color: black;
}

a.button {
	background-color: #348cb0;
	border: none;
	color: lightgray !important;
	padding: 1.5em 3em;
	text-align: center;
	text-decoration: none;
	display: block;
}

a.button:hover {
	background-color: #348c72;
	color: white !important;
}

.card {
	position: relative;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.8) !important;
}

.responsive-2,
.responsive-3 {
	display: inline-flex;
}

.responsive-2 .container a,
.responsive-3 .container a {
	width: 97% !important;
}

@media screen and (max-width: 1200px) {
	.footer a {
		padding: 10px 0px;
		width: 100%;
		display: none;
	}

	.footer-language {
		display: inline !important;
	}

	body {
		margin: 10% 20%;
	}

	.navbar .link {
		display: inline;
	}

	.responsive-3 {
		display: block;
	}

	.responsive-3 .container a {
		width: 97% !important;
	}
}

@media screen and (min-width: 719px) {
	.navbar .link {
		display: block !important;
	}
}

@media screen and (max-width: 719px) {
	.navbar a {
		font-size: 1.1em;
	}

	.footer a {
		font-size: 1.1em;
	}

	.navbar .navbar-text-button .navbar-button {
		display: inline;
	}

	.navbar .navbar-text-button .navbar-text {
		display: inline;
	}

	.navbar .link {
		display: none;
	}

	.navbar .link a {
		width: 100%;
		background-color: #151515 !important;
	}

	.navbar .navbar-text-button a.navbar-button {
		width: 20%;
	}

	.navbar .navbar-text-button a.navbar-text {
		width: 80%;
	}

	body {
		margin: 15% 10%;
	}

	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.5em;
	}
	
	p {
		font-size: 1.1em;
	}

	a {
		font-size: 1.1em;
	}

	.responsive-2 {
		display: block;
	}

	.responsive-2 .container a {
		width: 97% !important;
	}
}