:root {
	--text: black;
	--heading: gray;

	--background: #282c34;

	--img: #21252b;
	--img-text: #444444;

	--link: gray;
	--link-hover: darkgray;

	--nav: #1d2026;
	--nav-responsive: #171a1e;
	--nav-text: gray;
	--nav-text-hover: darkgray;
	--nav-hover: gray;
	--nav-shadow: black;

	--code-number: #555555;

	--button: #348cb0;
	--button-hover: #348c72;
	--button-text: lightgray;
	--button-text-hover: white;
}

body {
	margin: 5% 20%;
	text-align: justify;
	position: relative;
	background-color: var(--background);
}

h1 {
	text-align: center;
	color: var(--heading);
	font-size: 3.5em;
	font-family: 'Exo 2', sans-serif;
}

h2 {
	text-align: center;
	color: var(--heading);
	font-size: 2.5em;
	font-family: 'Exo 2', sans-serif;
}

p {
	color: var(--text);
	font-size: 1.3em;
	line-height: 1.7em;
	font-family: 'Exo 2', sans-serif;
}

pre {
	background-color: var(--background);
	padding: 1em 1em 1em 0em;
	counter-reset: line;
	overflow: auto;
}

code {
	font-family: 'Hack', monospace;
}

pre code::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	padding: 0em 0.5em;
	width: 1.5em;
	color: var(--code-number);
	text-align: right;
}

.navbar {
	background-color: var(--nav);
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	text-align: center;
	z-index: 300;
	box-shadow: 0 1px 5px 0 var(--nav-shadow);
}

.navbar a {
	float: left;
	color: var(--nav-text);
	padding: 10px 0px;
	font-size: 1.3em;
	font-family: 'Exo 2', sans-serif;
	width: 20%;
	text-decoration: none;
	transition: .3s ease;
}

.navbar a:hover {
	background-color: var(--nav-hover);
	color: var(--nav-text-hover);
}

.navbar-button {
	display: none;
}

.navbar-text {
	display: none;
}

.footer {
	background-color: var(--nav);
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	text-align: center;
	z-index: 300;
	box-shadow: 0 -1px 5px 0 var(--nav-shadow);
}

.footer a {
	float: left;
	color: var(--nav-text);
	padding: 10px 0px;
	font-size: 1.3em;
	font-family: 'Exo 2', sans-serif;
	width: calc(100%/3);
	text-decoration: none;
	transition: .3s ease;
}

.footer a:hover {
	background: var(--nav-hover);
	color: var(--nav-text-hover);
}

.container a {
	position: relative;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1% auto;
}

img {
	opacity: 1;
	display: block;
	width: 96%;
	transition: .5s ease;
	border: 3px solid var(--img);
}

.container p {
	margin-top: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	transition: .5s ease;
}

.container:hover img {
	opacity: 0.3;
}

.container:hover p {
	color: var(--img-text);
	opacity: 1;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

iframe {
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

a {
	color: var(--text);
	line-height: 1.7em;
	font-size: 1.3em;
	font-family: 'Exo 2', sans-serif;
	transition: .3s ease;
}

body p a {
	color: var(--text);
	line-height: 1.7em;
	font-size: 1em !important;
	font-family: 'Exo 2', sans-serif;
}

body a:link {
	text-decoration: none;
	color: var(--link);
}

body a:visited {
	text-decoration: none;
	color: var(--link);
}

body a:hover {
	text-decoration: none;
	color: var(--link-hover);
	text-align: center;
}

body a a1 {
	color: var(--text);
}

a.button {
	background-color: var(--button);
	border: none;
	color: var(--button-text) !important;
	padding: 1.5em 3em;
	text-align: center;
	text-decoration: none;
	display: block;
}

a.button:hover {
	background-color: var(--button-hover);
	color: var(--button-text-hover) !important;
}

.main {
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.7);
}

.responsive-2 {
	float: left;
	width: 50%;
}

.responsive-3 {
	float: left;
	width: calc(100%/3);
}

.responsive-2 .container a,
.responsive-3 .container a {
	width: 100%;
}

@media screen and (max-width: 1200px) {
	.footer a {
		padding: 10px 0px;
		width: 100%;
		display: none;
	}

	.footer-language {
		display: inline !important;
	}

	body {
		margin: 10% 15%;
	}

	.navbar .link {
		display: inline;
	}

	.responsive-3 {
		width: 50%;
	}

	.container a {
		width: 80%;
	}
}

@media screen and (min-width: 720px) {
	.navbar .link {
		display: block !important;
	}
}

@media screen and (max-width: 719px) {
	.navbar a {
		font-size: 1.1em;
	}

	.footer a {
		font-size: 1.1em;
	}

	.navbar .navbar-text-button .navbar-button {
		display: inline;
	}

	.navbar .navbar-text-button .navbar-text {
		display: inline;
	}

	.navbar .link {
		display: none;
	}

	.navbar .link a {
		width: 100%;
		background-color: var(--nav-responsive);
	}

	.navbar .navbar-text-button a.navbar-button {
		width: 20%;
	}

	.navbar .navbar-text-button a.navbar-text {
		width: 80%;
	}

	body {
		margin: 15% 10%;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	p {
		font-size: 1.1em;
	}

	a {
		font-size: 1.1em;
	}

	.responsive-2,
	.responsive-3,
	.container a {
		width: 100%;
	}
}