:root {
	--text: black;
	--heading: gray;

	--background: #282c34;

	--img: #21252b;
	--img-text: #444444;

	--link: dimgray;
	--link-hover: gray;

	--nav: #1d2026;
	--nav-responsive: #171a1e;
	--nav-text: gray;
	--nav-text-hover: darkgray;
	--nav-hover: gray;
	--nav-shadow: black;

	--code-number: #555555;

	--button: #348cb0;
	--button-hover: #348c72;
	--button-text: lightgray;
	--button-text-hover: white;

	--body-font: 'Exo 2', sans-serif;
	--code-font: 'JetBrains Mono', monospace;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'JetBrains Mono';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Bold.ttf') format('truetype');
}

body {
	margin: 5% 20%;
	text-align: justify;
	position: relative;
	background-color: var(--background);
}

h1 {
	text-align: center;
	color: var(--heading);
	font-size: 3.5em;
	font-family: var(--body-font);
}

h2 {
	text-align: center;
	color: var(--heading);
	font-size: 2.5em;
	font-family: var(--body-font);
}

p {
	color: var(--text);
	font-size: 1.3em;
	line-height: 1.7em;
	font-family: var(--body-font);
}

.code .object,
.code-inline .object {
	color: #e06c75;
	font-weight: bold;
}

.code .variable,
.code-inline .variable {
	color: #61afef;
}

.code .text,
.code-inline .text {
	color: #ffffff;
}

.code .sign,
.code-inline .sign {
	color: #aaaaaa;
}

.code .number,
.code-inline .number {
	color: #e5c07b;
}

.code .function,
.code-inline .function {
	color: #c678dd;
}

.code .definition,
.code-inline .definition {
	color: #98c379;
}

.code {
	padding: 0.5em;
	background-color: var(--background);
	counter-reset: line;
	font-family: var(--code-font);
	overflow: auto;
	white-space: nowrap;
}

.code-inline {
	background-color: var(--background);
	counter-reset: line;
	font-family: var(--code-font);
	font-size: 0.8em;
	padding: 0.15em;
}

.code div::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	padding-right: 0.5em;
	width: 2em;
	color: var(--code-number);
	text-align: right;
}

.navbar,
.footer {
	background-color: var(--nav);
	position: fixed;
	right: 0;
	width: 100%;
	text-align: center;
	z-index: 300;
}

.navbar {
	top: 0;
	box-shadow: 0 1px 5px 0 var(--nav-shadow);
}

.footer {
	bottom: 0;
	box-shadow: 0 -1px 5px 0 var(--nav-shadow);
}

.navbar a,
.footer a {
	color: var(--nav-text) !important;
	float: left;
	padding: 10px 0;
	font-size: 1.3em;
	font-family: var(--body-font);
	transition: .3s ease;
}

.navbar a {
	width: 20%;
}

.footer a {
	width: calc(100%/3);
}

.navbar a:not(.active):hover,
.footer a:hover {
	color: var(--nav-text-hover) !important;
	background-color: var(--nav-hover);
}

.navbar a.active {
	box-shadow: inset 0 -5px var(--nav-hover);
	color: var(--nav-text) !important;
	background-color: var(--nav) !important;
}

.navbar-button {
	display: none;
}

.navbar-text {
	display: none;
}

.container a {
	position: relative;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1% auto;
}

.container img {
	opacity: 1;
	display: block;
	width: 96%;
	transition: .5s ease;
	border: 3px solid var(--img);
}

.container p {
	margin-top: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	transition: .5s ease;
}

.container:hover img {
	opacity: 0.3;
}

.container:hover p {
	color: var(--img-text);
	opacity: 1;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

iframe {
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

a {
	color: var(--text);
	line-height: 1.7em;
	font-size: 1.3em;
	font-family: var(--body-font);
	transition: .3s ease;
}

body p a {
	color: var(--text);
	line-height: 1.7em;
	font-size: 1em !important;
	font-family: var(--body-font);
}

body a,
body a:visited {
	text-decoration: none;
	color: var(--link);
}

body a:hover {
	text-decoration: none;
	color: var(--link-hover);
}

body a span.count {
	color: var(--text);
}

a.button {
	background-color: var(--button);
	border: none;
	color: var(--button-text) !important;
	padding: 1.5em 3em;
	text-align: center;
	text-decoration: none;
	display: block;
}

a.button:hover {
	background-color: var(--button-hover);
	color: var(--button-text-hover) !important;
}

.main {
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.7);
}

.responsive-2 {
	float: left;
	width: 50%;
}

.responsive-3 {
	float: left;
	width: calc(100%/3);
}

.responsive-2 .container a,
.responsive-3 .container a {
	width: 100%;
}

.center {
	text-align: center;
}

@media screen and (max-width: 1200px) {
	.footer a {
		width: 100%;
		display: none;
	}

	.footer-language {
		display: inline !important;
	}

	body {
		margin: 10% 15%;
	}

	.navbar .link {
		display: inline;
	}

	.responsive-3 {
		width: 50%;
	}

	.container a {
		width: 80%;
	}
}

@media screen and (min-width: 720px) {
	.navbar .link {
		display: block !important;
	}
}

@media screen and (max-width: 719px) {
	.navbar a.active {
		box-shadow: inset 5px 0 var(--nav-hover);
	}

	.navbar a {
		font-size: 1.1em;
	}

	.footer a {
		font-size: 1.1em;
	}

	.navbar .navbar-text-button .navbar-button {
		display: inline;
	}

	.navbar .navbar-text-button .navbar-text {
		display: inline;
	}

	.navbar .link {
		display: none;
	}

	.navbar .link a {
		width: 100%;
		background-color: var(--nav-responsive);
	}

	.navbar .navbar-text-button a.navbar-button {
		width: 20%;
	}

	.navbar .navbar-text-button a.navbar-text {
		width: 80%;
	}

	body {
		margin: 15% 10%;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	p {
		font-size: 1.1em;
	}

	a {
		font-size: 1.1em;
	}

	.responsive-2,
	.responsive-3,
	.container a {
		width: 100%;
	}
}