body{
    background-color: #ffffff;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%; 
    margin-bottom: 20%;
}
ul{
    float: left;
    text-align: left;
    margin-left: 20%;
    margin-right: 18%;
    width: 60%;
    position: relative;
    font-size: 30px;
    color: #0073E5;
    font-family: georgia;
    text-decoration: none;

}
ol{
    float: left;
    text-align: left;
    margin-left: 40%;
    margin-right: 8%;
    width: 50%;
    position: relative;
    font-size: 30px;
    color: #0073E5;
    font-family: georgia;
    text-decoration: none;

}
button {
  background-color: #348cb0; 
  border: none;
  color: white;
  padding: 30px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}
button:hover {
  background-color: #348c72;
  color: black;
}
button:active {
  background-color: #fff;
  color: black;
}
iframe{
    height: 170px;
    width:40%;
}
.video iframe{
    height: 405px;
    width:720px;
}
.obsah h1{
    color: green;
    font-size: 48px;
    font-family: georgia;
}	
.obsah {
    text-align: center;
    position: relative; 
    top: 30px; 
}
.obsah p{
    color: darkorange;
    font-size: 20px;
    font-family: georgia;
}
.obsah h2{
    color: #444444;
    font-size: 40px;
    font-family: georgia;

}
.obsah a{
    font-family: "Times New Roman";
    font-size: 20px;
    color: #0073E5;
    text-decoration: none;
}
.obsah a1{
    font-size: 30px;
    color: red;
    text-decoration: none;
}
.obsah img{
    width: 40%;
}
.tabulka table{
    background-color: #666666;
    position: relative; 
    width:95%;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 0%;
    border: 5px solid black;
}
.tabulka img{
    width:100%;
}
.tabulka p{
    color:lightblue;
    text-align: center;
    font-size: 20px;
    font-family: calibri;
}
td{
    border: 2px solid black;
    width: 25%;
}
.foot_left a{
    padding-left:32%;
    position: relative; 
    float: center;
    color: #66ff66;
    font-size: 30px;
    font-family: calibri;
    text-decoration: none;
}
.foot_left p{
    position: relative; 
    float: left;
    color: #66ff66;
    font-size: 15px;
    font-family: calibri;
    padding-left: 20px;
    padding-right:0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.foot_left a.version{
    position: relative; 
    float: right;
    color: #66ff66;
    font-size: 15px;
    font-family: calibri;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
}
footer{
    overflow: auto;
    background-color: #0077b3;
    position: fixed; 
    bottom: 0; 
    width: 100%;
    right: 0px;
}
.navbar {
    overflow: auto;
    background-color: #0077b3;
    position: fixed; 
    top: 0; 
    width: 100%;
    right: 0px;
}
.navbar a {
    float: left;
    position: relative;
    display: block;
    color: #66ff66;
    text-align: center;
    padding: 15px 0px;
    font-size: 20px;
    font-family: calibri;
    width: 20%;
    text-decoration: none;
}
.navbar a:hover {
    background: #aaa;
    color: black;
}
.navbar a:active {
    background: #b3e6ff;
}
@media screen and (max-width:719px) {
.obsah a{
    font-size: 20px;
}
ul{
    margin-left: -5%;
    margin-right: 0%;
    width:95%;
    font-size: 15px;
}
ol{
    margin-left: -5%;
    margin-right: 0%;
    width:95%;
    font-size: 15px;
}
.foot_left a{
    padding-left:4%;
}
.foot_left p{
    padding-left: 10px;
    font-size: 10px; 
}
body{
    margin-bottom: 300px;
}
.obsah{
    top: 200px;
 }
.navbar a{
    padding: 10px 0px;
    font-size: 20px;
    width: 100%;
}
iframe{
    height:170px;
    width:95%;
}
.tabulka table{
    margin-top: 50%;
}
.tabulka p{
    font-size: 10px;
}
.obsah h1{
    font-size: 40px;
}
.obsah h2{
    font-size: 30px;
}
.video iframe{
    height: 180px;
    width:320px;
}
}